@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?scacdq');
  src:  url('fonts/icomoon.eot?scacdq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?scacdq') format('truetype'),
    url('fonts/icomoon.woff?scacdq') format('woff'),
    url('fonts/icomoon.svg?scacdq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down-sign-to-navigate:before {
  content: "\e900";
}
.icon-caret-arrow-up:before {
  content: "\e901";
}
.icon-caret-down:before {
  content: "\e902";
}
.icon-instagram-social-network-logo-of-photo-camera:before {
  content: "\e903";
}
.icon-padlock:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-twitter-logo-silhouette:before {
  content: "\e907";
}
