.booking-main{
  .booking-title{
    text-align: center;
    padding: 20px;
    h2{
      @include h2;
      padding: 10px 0;
    }
    p{
      max-width: 90%;
      @include font(18px , 400);
      margin: 10px auto;
      @media screen and (min-width:$small){
        max-width: 60%;
      }
    }
  }
  .booking-img{
      position: relative;
      @media screen and (max-width:$small){
      margin-bottom: 30px;
      }
      img{
        width: 100%;
      }
      .title{
        @include title;
        text-align: center;
        @include font(19px,400);
        font-family: "futura";
        background: rgba(0,0,0,0.4);
      }
      .triangle{
          width: 0;
          height: 0;
          border-top: 55px solid rgba(255,255,255,0.34);
          border-left: 55px solid transparent;
          position: absolute;
          top: 0;
          right: 0;
      }
  }
  .booking-form-wrapper{
    background-color: $booking-background;
    margin: 30px 0;
  }
  .form-wrapper{
      background-color: $white;
      padding: 15px;
      box-shadow: 2px 4px 6px 1px grey;
      margin: -15px 0 -20px;
    form{
      overflow: hidden;
      input , textarea{
        background-color: $input-background;
        color: $white;
        font-family: "Univers";
        @include font(16px ,400);
        letter-spacing: 2px;
        border: transparent;
        border-radius: 0;
        padding-left: 20px;
        box-shadow: none;
        &::placeholder{
          color: $white;
        }
      }
      textarea{
        resize: none;
      }
      button{
        @include btn;
      }
    }
  }
  .news-section{
    letter-spacing: 2px;
    font-family: 'Futura';
    padding: 30px 0;
    h2{
      @include h2;
      opacity: 0.5;
      &::before{
        @include plus-before;
      }
    }
    .news{
      position: relative;
      margin-bottom: 20px;
      &:hover{
        .mouseover{
          display: block;
          cursor: pointer;
        }
      }
      .news-title{
        background-color: rgba(68, 197, 233,0.2);
        @include title;
      }
      .mouseover{
        // background-color: $picton-blue;
        // background-image: url(../assetts/mouseover.png);
        background-image: url(../assetts/mouseover.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        color: $white;
        padding: 10px;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        h5{
          @include font(18px ,500);
          padding: 20px 0;
          text-transform: uppercase;
        }
        a{
          color: $white;
          text-transform: uppercase;
        }
      }
      img{
        width: 100%;
      }
    }
    a{
      color: $black;
    }
  }
}