@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src:  url('../fonts/univers-light-normal.eot');
  src:  url('../fonts/univers-light-normal.eot') format('embedded-opentype'),
    url('../fonts/univers-light-normal.ttf') format('truetype'),
    url('../fonts/univers-light-normal.woff') format('woff'),
    url('../fonts/univers-light-normal.svg') format('svg');
  font-weight:lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src:  url('../fonts/futuraptlight.eot');
  src:  url('../fonts/futuraptlight.eot') format('embedded-opentype'),
    url('../fonts/futuraptlight.ttf') format('truetype'),
    url('../fonts/futuraptlight.woff') format('woff'),
    url('../fonts/futuraptlight.svg') format('svg');
  font-weight:lighter;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e904";
}
.icon-close-envelope:before {
  content: "\e900";
}
.icon-is-greater-than-mathematical-sign:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-telephone-of-black-vintage-design:before {
  content: "\e903";
}
