@mixin font($size , $weight) {
  font-size:$size;
  font-weight:$weight;
}
@mixin h2 {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Futura';
  @media screen and (min-width:$small){
    @include font($h2...);
  }
}
@mixin plus-before {
  content: "+";
  padding-right: 10px;
}
@mixin btn {
  color: $white;
  background-color: $picton-blue;
  padding: 10px 40px;
  font-family: "Futura";
  @include font(16px, 400);
  border: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@mixin title {
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}