// Color codes

$header-background:#f2f2f2;
$footer-background:#081c29;
$gray:#868686;
$firefly:#0a151d;
$tiber:#072b3f;
$dove-gray:#666666;
$picton-blue:#44c5e9;
$elephant:#143e4f;
$granny-smith:#819ba2;
$cutty-sark:#5d777e;
$jungle-mist:#abc5cc;
$white:#ffffff;
$primary-text-color:#333333;
$dusty-gray:#999999;
$input-background:#cccccc;
$mine-shaft:#292929;
$booking-background:#f3f3f3;
$black:#000000;


// ----Gray Variations-----

$gray-firstchild:#102330;
$gray-secondchild:#273944;
$gray-thirdchild:#404f59;
$gray-fourthchild:#57656e;

// ---lightblue color variation

$lightblue-firstchild:#2f9fc8;
$lightblue-secondchild:#4cadd0;
$lightblue-thirdchild:#79c1dc;
$lightblue-fourthchild:#9fd3e6;
$lightblue-fifthchild:#b6ddec;

// Darkblue color variation
$darkblue-firstchild:#0b4769;
$darkblue-secondchild:#3c6c87;
$darkblue-thirdchild:#6d91a5;
$darkblue-fourthchild:#9db5c3;

// Screen Sizes
$small:40em;
$medium-min:40.063em;
$medium-max:64em;
$large-min:64.063em;
$large-max:90em;

// Headings 
$h2: (23px,400);



