.welcome{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: $spring-wood;
    ul{
        list-style: none;
        border-bottom: 1px solid $teak;
        overflow: hidden;
        padding: 0;
        color: $teak;
        li{
            float: left;
            &:not(:last-child){
                &::after{
                    content: ">";
                    display: inline-block;
                }
            }
        }
        a{
            font-size: 11px;
            font-family: $basic;
            text-decoration: none;
            text-transform: capitalize;
            color: $teak;
        }
    }
    .intro{
        width: 70%;
        float: right;
        @media screen and (max-width:$small){
            width: 100%;
            float: none;
        }
        h1{
            @include h1;
        }
        p{
            @include font(17px);
            font-family: $basic;
            text-transform: uppercase;
            padding-left: 10px;
            @media screen and (max-width:$small){
                @include font(14px);
                padding-left: 0;
            }
        }
    }
}
.room-sliders{
    h2{
        @include font(30px);
        font-style: italic;
        font-family: $headings;
        padding-left: 50px;
        color: $teak;
        @media screen and (max-width:$small){
            @include font(20px);
            padding: 0;
        }
    }
    .block-room{
            display: flex !important;
            overflow: hidden;
            @media screen and (max-width:$small){
                display: inline-block !important;
            }
    }
    img{
        width: 75%;
         @media screen and (max-width:$small){
             width: 100%;
         }
    }
    .room-info-wrapper{
        width: 25%;
        padding: 20px;
        background-color: $white-rock;
         @media screen and (max-width:$small){
             width: 100%;
         }
        h5{
            color: $teak;
            text-transform: uppercase;
            @include font(16px);
            font-family: $basic;
        }
        ul{
            list-style: none;
            padding: 0;
            font-family: $basic;
            @include font(14px);
        }
        .first-list{
            margin-bottom: 30px;
        }
        .second-list{
            li{
                &:first-child{
                text-transform: uppercase;
                }
            }
        }
    }
    .the-room-slider{
        position: relative;
    }
    .slick-prev, .slick-next{
        width: 40px;
        height: 40px;
        z-index: 2;
        &:before{
            color: $teak;
            background-color: rgba($color: $white, $alpha: 0.7);
            padding: 8px;
            border: 1px solid $teak;
            border-radius: 30px;   
        }
    }
    .slick-prev{
        left: -15px;
        &:before{
            content: $icon-left-angle-arrow;
            font-family: $icomoon-font-family;
        }
    }
    .slick-next{
        right: -15px;
        &:before{
            content: $icon-arrow-angle-pointing-to-right;
            font-family: $icomoon-font-family;
        }
    }
    .slick-dots {
        li{
            button{
                &::before{
                    @include font(24px);
                }
            }
        } 
    }
}
.preisliste{
   h3{
        @include h3-another;
   }   
   .button-line{
       margin-bottom: 20px;
   }
   button{
       @include button;
   }
   table{
       thead{
           background-color: $spring-wood;
       }
       th,td{
               text-align: center;
               border: none !important;
           }
   }
   .table-striped>tbody>tr:nth-of-type(odd){
           background-color: $bone;
       }
       .table-striped>tbody>tr:nth-of-type(even){
           background-color: $chino;
       }
}
.bed-adds{
    a{
        text-decoration: none;
    }
    h3{@include h3-another;}
    .img-wrapper{
        height: 250px;
        img{
            width: 100%;
            @media screen and (max-width:$large){
                height: 80%;
            }
        }
        p{
            background-color: $teak;
            padding: 10px 0;
            text-align: center;
            text-transform: uppercase;
            color: $white;
            @include font(14px);
            font-family: $basic;
        }
    }
}
