@import "_variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('../fonts/Angle-sides.eot');
  src:  url('../fonts/Angle-sides.eot') format('embedded-opentype'),
    url('../fonts/Angle-sides.ttf') format('truetype'),
    url('../fonts/Angle-sides.woff') format('woff'),
    url('../fonts/Angle-sides.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-angle-arrow {
  &:before {
    content: $icon-left-angle-arrow; 
  }
}
.icon-arrow-angle-pointing-to-right {
  &:before {
    content: $icon-arrow-angle-pointing-to-right; 
  }
}

