#footer{
    .footer-nav{
        background-color: $akaroa;
        padding: 30px 0;
        @media screen and (max-width:$small){
            text-align: center;
        }
        ul{
            list-style: none;
            padding: 0;
        }
        h5{
            @include normal-text;
        }
        li{
            @include normal-text;
            color: $tapa;
        }
        a{
            color: $tapa;
            text-decoration: none;
            &:hover{
                color: $teak;
            }
        }
        
    }
    .bottom-line{
        background-color: $teak;
        text-align: center;
        img{
            margin: 0 15px;
            @media screen and (max-width:$small){
                width: 30%;
            }
        }
    }
}