@mixin h1 {
    font-size: 36px;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    text-transform: capitalize;
    color: $teak;
    @media screen and (max-width:$medium){
        font-size: 24px;
    }
}
@mixin normal-text {
    font-size: 12px;
    font-family: $basic;
}
@mixin h3-another {
        font-size: 17px;
        color: $teak;
        border-bottom: 1px solid $teak;
        text-transform: uppercase;
        padding-left: 50px;
        margin-bottom: 30px;
        @media screen and (max-width:$small){
            padding-left: 0;
        }
}
@mixin button {
    background-color: $fuzzy-wuzzy-brown;
    color: $white;
    padding: 10px 25px;
    border: none;
    @media screen and (max-width:$large){
        padding: 5px 15px;
    }
    @media screen and (max-width:$medium){
        font-size: 10px;
    }
    &:hover{
        background-color: $flame-pea;
    }
}
