// Color Names

$white-rock: #efebe0;
$pearl-bush: #e7e0d0;
$fuzzy-wuzzy-brown: #c1454e;
$teak: #ae9962;
$merlin: #45433e;
$mongoose: #b7a574;
$bone: #dfd6c0;
$chino: #cec2a1;
$white: #fff;
$dawn:#9d9b97;
$spring-wood:#f3f0e8;
$akaroa:#d6ccb0;
$tapa:#7a7870;
$flame-pea:#DA6234;
$pampas:#f5f4ef;
$alabaster:#f9f9f9;


// fonts family
$headings: 'Libre Baskerville', serif;
$basic: 'Raleway', sans-serif;

// Screen-sizes
$large:1200px;
$medium:991px;
$small:767px;
