@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_slick.scss";
@import "_slick-theme.scss";
@import "_header.scss";
@import "_another.scss";
@import "_footer.scss";
@import "_page.scss";