
.banner{
  width:100%;
}
button{
  @include btn;
}
main{
  background-color: $bg-color;
  position: relative;
  .filters{
    background-color: $white;
    margin: 40px 0;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 16px 0px $scorpion;
    .input-field{
      margin: 0;
    }
    button{
      @media screen and (max-width:$mobile){
        margin-top: 10px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .pages-info{
    @include font(12px , 500);
    color: $scorpion;
    @media screen and (max-width:$mobile){
      margin: 5px 0;
    }
    i{
      padding: 0 5px;
    }
    .disabled{
      color: $dusty-gray;
      cursor: not-allowed;
    }
  }
  p{
    @include font(12px , 400);
    color: $scorpion;
  }
  .add-wrapper{
    padding: 0 70px 300px;
    overflow: hidden;
    @media only screen and (max-width:$mobile)  {
      padding: 0;
    }
    .adds{
      position: relative;
      padding: 10px 15px;
      box-shadow: 2px 2px 10px $scorpion;
      background-color: $white;
      border-radius: 5px;
      margin: 30px 0;
      color: $dusty-gray;
      min-height: 450px;
      label{
        display: block;
        margin-bottom: 10px;
        color: $dusty-gray;
        @include font(12px ,400);
      }
      .text-to{
        @include font(14px , 400);
      }
      .date-info{
        color: $cerulean;
        @include font(13px ,700);
        display: flex;
        min-height: 30px;
        align-items: flex-end;
      }
      .collapsible{
        border: none;
        box-shadow: none;
      }
      .collapsible-header{
        background: url(../assett/arrow-down-sign-to-navigate.svg) no-repeat 95%;
        background-size: 12px;
        padding: 5px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid #ddd;
        @include font(14px , 400);
      }
      .active .collapsible-header{
       background: url(../assett/up-arrow.svg) no-repeat 95%;
       background-size: 12px;
      }
      .collapsible-body{
        @include font(12px , 400);
        padding: 5px 0;
        border: none;
      }
    }
    .name-block{
      background-color: $white;
      box-shadow: 2px 2px 10px $scorpion;
      margin: -30px auto 20px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      img{
        display: block;
        margin: 0 auto;
        max-height: 200px;
        width: 100%;
      }
      .name{
        display: block;
        width: 100%;
        background-color: $saffron;
        padding: 0 15px;
        color: $white;
        position: absolute;
        bottom: 0;
        font-family: $secondary-font !important;
        max-height: 50px;
        @include font(18px,700);
        @media only screen and (max-width:$mobile)  {
          font-size: 14px;
        }
        .holder {
          display: flex;
          flex-direction: row;
          height: 50px;
          align-items: center;
          padding: 0 5px;
          > * {
            flex-basis: 50%;
          }
        }
      }
      .stars-rating{
        text-align: right;
      }
      .stars{
        li{
          display: inline-block;
          cursor: pointer;
        }
      }
    }
    .city{
        @include font(14px,700);
        text-transform: uppercase;
    }
  }
  .towers-bg{
    opacity: 0.1;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
.select-wrapper {
  input.select-dropdown{
    height: 2rem;
    color: $silver-chalice;
  }
  .caret{
    fill: $silver-chalice;
  }
}
.star-color{
  color: $cerulean;
}