body{
  max-width: 1440px;
  margin: auto;
}
.banner{
  width:100%;
}
button{
  @include btn;
}
main{
  background-color: $bg-color;
  position: relative;
  .filters{
    background-color: $white;
    margin: 40px 0;
    padding: 15px;
    border-radius: 3px;
    .input-field{
      margin: 0;
    }
  }
  .pages-info{
    @include font(12px , 500);
    color: $scorpion;
    @media screen and (max-width:$mobile){
      margin: 5px 0;
    }
    i{
      padding: 0 5px;
    }
    .disabled{
      color: $dusty-gray;
      cursor: not-allowed;
    }
  }
  p{
    @include font(12px , 400);
    color: $scorpion;
  }
  .add-wrapper{
    padding: 0 70px 300px;
    overflow: hidden;
    @media only screen and (max-width:$mobile)  {
      padding: 0;
    }
    .adds{
      position: relative;
      padding: 10px 15px;
      box-shadow: 2px 2px 10px $scorpion;
      background-color: $white;
      border-radius: 5px;
      margin: 30px 0;
      color: $dusty-gray;
      min-height: 530px;
      label{
        display: block;
        margin-bottom: 10px;
        color: $dusty-gray;
        font-size: 12px;
      }
      .date-info{
        color: $cerulean;
        @include font(13px ,700);
        display: flex;
        min-height: 30px;
        align-items: flex-end;
      }
      .collapsible-header{
        background: url(../assett/arrow-down-sign-to-navigate.svg) no-repeat 95%;
        background-size: 16px;
        border: none;
        border-bottom: 1px solid #ddd;
      }
      .active .collapsible-header{
       background: url(../assett/up-arrow.svg) no-repeat 95%;
       background-size: 16px;
      }
      .collapsible-body{
        @include font(12px , 500);
        padding: 1rem;
      }
    }
    .name-block{
      background-color: $white;
      box-shadow: 2px 2px 10px $scorpion;
      margin: -30px auto 20px;
      max-width: 300px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      img{
        display: block;
        margin: 0 auto;
        max-height: 200px;
        width: 100%;
      }
      .name{
        display: block;
        width: 100%;
        background-color: $saffron;
        padding: 15px;
        color: $white;
        position: absolute;
        bottom: 0;
        font-family: $secondary-font;
        @include font(18px,900);
        @media only screen and (max-width:$mobile)  {
          font-size: 14px;
        }
      }
      .stars-rating{
        float: right;
      }
      .stars{
        li{
          display: inline-block;
        }
      }
    }
    .city{
        @include font(14px,700);
        text-transform: uppercase;
    }
  }
  .towers-bg{
    opacity: 0.1;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
.select-wrapper {
  input.select-dropdown{
    height: 2rem;
  }
}
.star-color{
  color: $cerulean;
}