
// Color Variables

$saffron:#f5b72f;
$cerulean:#06ace3;
$white:#fff;
$bg-color:#e5e5e5;
$scorpion:#606060;
$tundora:#494949;
$dusty-gray:#999999;
$fb-logo:#3b5998;
$twitter-logo:#38A1F3;
$insta-logo: #cd486b;
$silver-chalice:#aaaaaa;

// Font Families

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

// Breakpoints
 $mobile:600px;
