section{
    padding: 70px 0;
    @media screen and (max-width:$tablet){
        padding: 30px 0;
    }
}
.blockchain{
    color: $mine-shaft;
    h2{
        @include h2;
    }
    .title-line{
        @include title-line;
    }
    h4{
        font-size: $h4;
        margin:0 -5px 20px 0;
        &::before{
                content: "";
                height: 1px;
                width: 105%;
                background-color: $silver-chalice;
                display: block;
                position: absolute;
                left: -25px;
                top: 33px;
                z-index: -1;
        }
        @media screen and (max-width:$container){
            font-size: 15px;
            font-weight: 900;
            margin: 10px 0 20px 0;
        }
    }
    img{
        max-width: 70px;
        max-height: 70px;
        overflow: hidden;
    }
    p{
        font-size: $basic;
    }
    @media screen and (max-width:$mobile){
        [class*="col-xs-"]{
            padding: 0;
        }
    }
}