.latest-articles{
    color: $mine-shaft;
    .row-eq-height{
        min-height: 254px;
        overflow: hidden;
    }
    h2{
        @include h2;
    }
    .title-line{
        @include title-line;
    }
    .desc-wrapper{
        position: relative;
        overflow: hidden;
        img{
            background-color: $alto;
            @media screen and (max-width:$container){
                width: 100% !important;
            }
        }
        .floating-desc{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(56, 56, 56, 0.7);;
            color: $white;
            padding: 10px;
            width: 100%;
            font-size: $h4;
            margin: 0;
        }
    }
    .right-wrapper{
        margin-bottom: 30px;
        overflow: hidden;
        @media screen and (max-width:$tablet) {
            margin: 15px 0;
        }
        img{
            background-color: $alto;
            float: left;
            @media screen and (max-width:$mobile) {
                float: none;
                margin: 0 auto;
                display: block;
            }
        }
        .span-wrapper{
            float: left;
            background-color:$gallery;
            padding: 0;
            margin: 0;
            height: 113px;
            width: calc(100% - 164px);
            overflow: auto;
            @media screen and (max-width:$mobile) {
                margin: 0 auto;
                float: none;
                width: 100%;
            }
            span{
                display: block;
                max-width: 250px;
                padding: 25px 10px;
                @media screen and (max-width:$mobile) {
                    margin: 0 auto;
                    float: none;
                }
            }
        }
    }
}