
@mixin h2 {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    @media screen and (max-width:$mobile) {
        font-size: 24px;
    }
}
@mixin title-line{
        text-align: center;
        font-size: $title-line;
        max-width: 710px;
        margin: 10px auto 30px;
        @media screen and (max-width:$mobile) {
        font-size: 16px;
        }
}