.regious-coin{
    background-color: $azure-radiance;
    color: $white;
    h2{
        @include h2;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .regius-tabs{
        text-align: center;
        li{
            display: inline-block;
            margin: 20px 40px;
            font-size: $h4;
            @media screen and (max-width:$mobile){
                margin: 15px 30px;
                font-size: 16px;
            }
            a{
                color:$white;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                text-decoration: none;
                &:hover{
                    color: $malachite;
                    border-bottom-color: $malachite;
                }
            }
        }
    }
    article{
        background-color: $lochmara;
        text-align: center;
        border: 1px solid $white;
        min-height: 410px;
        padding: 0 40px;
        img{
            margin: 30px 0;
        }
        h4{
            font-size: $h4;
        }
        p{
            margin-bottom: 20px;
            font-size: $basic;
        }
        a{
            text-decoration: none;
            color: $malachite;
            font-size: $basic;
            font-weight: 700;
        }
        @media screen and (max-width:$tablet){
            margin-bottom: 20px;
        }
    }
}